:root{
    --cor-fundo: #01080E ;
    --cor-principal: #0B0D20 ;
    --cor-secundaria: #212333; 
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;

}

body {

    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid #5BBE42;
    animation: borderTransition 2s infinite alternate; 
}

@keyframes borderTransition {
    0% {
        border-color: red; 
    }
    50% {
        border-color: blue; 
    }
    100% {
        border-color: green; 
    }
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to left, blue, orangered, green);
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('bg-desktop.webp');
}

p:hover {
    color: green; 
    font-weight: bold;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 100%;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #6b811a;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}

header img {
    width: 100%;
    height: 50%;
    border-radius: 0%;
    border: 2px solid #5BBE42;
}

.center {
    text-align: center;
}

h1 {
    color: white;
}


footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
    color: rgb(83, 217, 83);
}
a {
    text-decoration: none;
}

footer p {
    margin-top: 2px;
}

